* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: seagreen; */
    padding: 0;
}

body {
    background-color: cadetblue;
    margin: 0;
}

.hero-contents-container {
    padding: 24px 177px;
}

.hero-contents-container,
.some-random-informations {
    background-color: #1F2937;
    /* padding: 24px 177px; */
}

.hero-contents-container .header-text, 
.hero-description-area .left .heading-text {
    font-size: 47px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-contents-container .header-text {
    font-size: 24px;
}

.hero-contents-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0px 11px;
}

a,
.hero-description-area .left p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover {
    opacity: .5;
}

.hero-description-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.hero-description-area .left {
    /* max-width: 497px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-description-area .left button,
.call-to-action button {
    background-color: #3882f6;
    color: #e5e7eb;
    line-height: 2em;
    padding: 0 38px;
    font-size: 20px;
    border-radius: 11px;
    border: white solid;
    height: fit-content;
    /* margin: auto; */
}

.hero-description-area .left button {
    width: fit-content;
}

.hero-contents-container .hero-description-area img {
    width: 753px;
}

.some-random-informations {
    background-color: transparent;
    margin: 60px 171px;
}

.some-random-informations .heading-text {
    text-align: center;
    margin-bottom: 42px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.some-random-informations .cards {
    display: flex;
    /* margin: 62px 0px auto 62px; */
    justify-content: space-between;
    margin-bottom: 99px;
}

.some-random-informations .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 11px;
    border: solid #3882f6 4px;
    padding: 20px 0 0 0;
    border-radius: 11px;
}

.some-random-informations .cards .card p {
    text-align: center;
}

.quotes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e5eb;
    padding: 78px;
}

.quotes-container blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quotes-container cite {
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 11px;
    width: fit-content;
    margin: 42px auto;
}

.call-to-action button {
    margin: auto 38px;
}

.call-to-action .left {
    padding: 31px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 31px;
    background-color: #1F2937;
}